

@media screen and (max-width:576px) and (min-width:20px){

    .logo {
        width: 160px;
        height: 50px;
    }

    #site-header {

        /* height: 78px !important; */
        height: auto;
        
    }

    #site-header .btn-circle {

        width: 50px !important;
        height: 50px !important;
    }

    .navbar-toggler {

        background-color: #f6ecfffa;
        border-radius: 0.5rem;
        height: 50px !important;
        width: 55px !important;
    }

    .navbar-toggle-asli {

        /* position: relative; */
        bottom: 67px !important;
        right: 20px !important;
    }
}



@media screen and (max-width:991px) and (min-width:577px){

    #site-header {

        /* height: 86px !important; */
        height: auto;
        
    }
}











*{
    list-style: none;
    /* font-family: myFont; */
    margin: 0;
    padding: 0;
}

.dropdown-toggle::after {
    display: none;

}

.navbar-toggle-asli {

    position: relative;
    bottom: 76px;
    right: 20px;
}

#site-header.scrolled {
    /* height: 50px; */
    height: auto;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
  }
  



.cursor {

    cursor: pointer;
}


.text-right{

    text-align: right;
}

.contaniner-fluid{
    overflow: hidden;
}



.font-14 {
    font-size: 14px;
}
.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}


.cursor-pointer {

    cursor: pointer;
}

/* header */

#site-header {
    
    /* height: 138px; */
    height: auto;
    background:#fdba14;
}


#search-bar {
    
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -2px; /*soal*/
}

.btn-sabad-kharid {

    border: 1px solid groove;
    padding-right: 20px;
    padding-left: 24px;
}



.n-t {
    transition-duration: 0.1s;
    transition-delay: 0s;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-left: 4px;
}

.n-t a {
    padding: 5px 13px 6px 13px !important;
    color: rgb(0, 0, 0,0.9) !important; 
    
}
.n-t:hover {
    background-color: rgba(199, 194, 194, 0.838);
    
    
}


.nav-link:hover {
    color: rgb(0, 0, 0)
}



.btn-circle {

    border-radius: 50%;
    background-color: grey;
}


.navbar-toggler {

    background-color: #f6ecfffa;
    border-radius: 0.5rem;
    height: 60px;
    width: 60px;
}